.flows_raspberrypi.json.backup
[{"id":"8950309.ac8df5","type":"tab","label":"Control","disabled":false,"info":""},{"id":"32eb8ead.b784aa","type":"tab","label":"Data","disabled":false,"info":""},{"id":"2b262bac.6b00cc","type":"tab","label":"Testing","disabled":true,"info":""},{"id":"7d4144a7.f74aa4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ce0700","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#a51d21","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#a51d21","edited":true},"page-titlebar-backgroundColor":{"value":"#a51d21","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#db3338","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#a51d21","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Postprocessing Dashboard in Quality Science Laboratory at TU Berlin","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fb57fe34.458988","type":"ui_tab","z":"","name":"Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c4cbf3bf.6032c8","type":"ui_group","z":"","name":"Control Buttons","tab":"5987543c.d1e64c","disp":true,"width":"6","collapse":false},{"id":"5987543c.d1e64c","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d4324637.9bc398","type":"ui_group","z":"","name":"Current process values","tab":"fb57fe34.458988","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb2dc2a2.6afc18","type":"ui_group","z":"","name":"Error information","tab":"fb57fe34.458988","order":3,"disp":true,"width":"6","collapse":false},{"id":"5000d82f.7f3448","type":"git-nodes-config","z":"","name":"git backup nodes","git":"git@gitlab.tubit.tu-berlin.de:ban9858/Node-RED_SPS.git"},{"id":"30c90b9b.501374","type":"ui_group","z":"","name":"Processing Specification","tab":"fb57fe34.458988","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa94d8b9.dac9d","type":"ui_button","z":"8950309.ac8df5","name":"git button","group":"c4cbf3bf.6032c8","order":1,"width":0,"height":0,"passthru":false,"label":"Update Controllino Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Are you sure you want to update the Controllino code?","payloadType":"str","topic":"","x":173.14997100830078,"y":72.02385425567627,"wires":[["1f048b92.407dec"]]},{"id":"df951afe.49b258","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Git/RaspberryPi-Nachbearbeitung/Skripte/update_controllino_scipt.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec controllino update","x":442.1499710083008,"y":64.03810501098633,"wires":[["667de301.65c0d4"],[],["cc5ade2.04050a"]],"outputLabels":["MESSAGE","",""]},{"id":"667de301.65c0d4","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"17","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":681.0071182250977,"y":54.22380065917969,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"cc5ade2.04050a","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":706.8642654418945,"y":161.25243949890137,"wires":[]},{"id":"96d5e66b.c9b0b8","type":"ui_button","z":"8950309.ac8df5","name":"git scipt button","group":"c4cbf3bf.6032c8","order":2,"width":0,"height":0,"passthru":false,"label":"Update Repository on Raspberry Pi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Are you sure you want to update the code on the rasperry pi ?","payloadType":"str","topic":"","x":187.85238647460938,"y":454.19524002075195,"wires":[["b44fc9c3.c425b8"]]},{"id":"af5c9162.9882","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Git/RaspberryPi-Nachbearbeitung/Skripte/update_pi_scipts.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec git update","x":443.9952163696289,"y":462.6856937408447,"wires":[["34df920.86973ee"],[],["a417619c.8c0c78"]],"outputLabels":["MESSAGE","",""]},{"id":"34df920.86973ee","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":677.9000015258789,"y":438.96666431427,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"a417619c.8c0c78","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":676.2808990478516,"y":512.9476280212402,"wires":[]},{"id":"592d9e70.f2ac38","type":"ui_gauge","z":"32eb8ead.b784aa","name":"temp gauge","group":"d4324637.9bc398","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":945.4000473022461,"y":366.2055320739746,"wires":[]},{"id":"262d9524.05fa9a","type":"ui_gauge","z":"32eb8ead.b784aa","name":"flow gauge","group":"d4324637.9bc398","order":1,"width":0,"height":0,"gtype":"gage","title":"Flow rate","label":"l/min","format":"{{value}}","min":0,"max":"6.00","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":904.7612037658691,"y":426.3722286224365,"wires":[]},{"id":"4c674ea6.fd5af","type":"inject","z":"2b262bac.6b00cc","name":"","topic":"","payload":"message","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":149.83331298828125,"y":546.9761962890625,"wires":[["3f3efca7.f47a44"]]},{"id":"3f3efca7.f47a44","type":"function","z":"2b262bac.6b00cc","name":"counter","func":"var count=context.get('counter') || 0; //create \"counter\"\ncount +=1;\nmsg.payload= count;\ncontext.set('counter',count);\nmsg.count = context.get('counter'); \nreturn msg;\n\n// save in flow.set -> not just in box but in flow\n// save in all flows -> global.set","outputs":1,"noerr":0,"x":359.8332939147949,"y":547.767822265625,"wires":[["4a55a06f.888f88","1e3a478c.c626f8"]]},{"id":"1e3a478c.c626f8","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":544.8332862854004,"y":497.12191009521484,"wires":[]},{"id":"4a55a06f.888f88","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":552.3332939147949,"y":613.3719940185547,"wires":[]},{"id":"d07e9003.5d74c","type":"inject","z":"2b262bac.6b00cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":184.83329391479492,"y":772.5178451538086,"wires":[["1b5d15e9.78c52a"]]},{"id":"1b5d15e9.78c52a","type":"file in","z":"2b262bac.6b00cc","name":"read file","filename":"/home/pi/Desktop/temp/error.log","format":"utf8","chunk":false,"sendError":true,"x":338.5832862854004,"y":696.7678451538086,"wires":[["2078b655.56847a","885854a2.2f0398"]]},{"id":"2078b655.56847a","type":"switch","z":"2b262bac.6b00cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":337.3332862854004,"y":912.8511276245117,"wires":[[],["a487de9.8fbd32","967fc342.9a679"]]},{"id":"a487de9.8fbd32","type":"change","z":"2b262bac.6b00cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Good connection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.3333129882812,"y":936.4137573242188,"wires":[["967fc342.9a679"]]},{"id":"967fc342.9a679","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","x":632.75,"y":1091.0178833007812,"wires":[]},{"id":"885854a2.2f0398","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599.8332939147949,"y":704.7678680419922,"wires":[]},{"id":"8f32a661.5fbc68","type":"inject","z":"2b262bac.6b00cc","name":"msg.error","topic":"Connection","payload":"Connection error","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208.40475463867188,"y":125.54762268066406,"wires":[["d7b62be5.1c2db8"]]},{"id":"d7b62be5.1c2db8","type":"file","z":"2b262bac.6b00cc","name":"","filename":"/home/pi/Desktop/temp/error.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":400.57139587402344,"y":193.48092651367188,"wires":[["b5413b91.d31658"]]},{"id":"77b73741.8dd598","type":"inject","z":"2b262bac.6b00cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":179.78807067871094,"y":305.03094482421875,"wires":[["8c35d55c.f20a38"]]},{"id":"8c35d55c.f20a38","type":"file","z":"2b262bac.6b00cc","name":"","filename":"/home/pi/Desktop/temp/error.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":440.3047332763672,"y":305.4642791748047,"wires":[["73d3c051.614308"]]},{"id":"b5413b91.d31658","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":667.5714263916016,"y":176.73098754882812,"wires":[]},{"id":"73d3c051.614308","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":623.5713958740234,"y":351.4809265136719,"wires":[]},{"id":"5c514d27.addee4","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":128.13888549804688,"y":384.8055419921875,"wires":[["c61c0218.dcc0a"]]},{"id":"c61c0218.dcc0a","type":"file in","z":"32eb8ead.b784aa","name":"","filename":"/tmp/Prozessdaten.txt","format":"utf8","chunk":false,"sendError":false,"x":193.58327811104914,"y":452.3253609793527,"wires":[["992497d5.56c398"]]},{"id":"992497d5.56c398","type":"function","z":"32eb8ead.b784aa","name":"split.variables","func":"// var declanation\nvar f = global.get('error');\nvar t = global.get('temp');\nvar d = global.get('flow');\nvar ds = global.get('dist');\nvar e = global.get('event');\n\n// declaration of msg.payload\nvar x = msg.payload;\n\n//splits string \nparts = x.split(\";\");\n\n//get error value\nf = parts[1];\nf = f.split(\":\");\nf = f[1];\n\n//get temperature value\nt = parts[2];\nt = t.split(\":\");\nt = t[1];\n\n// get flow rate value\nd = parts[3];\nd = d.split(\":\");\nd = d[1];\n\n// get distance value\nds = parts[4];\nds = ds.split(\":\");\nds = ds[1];\n\n// get event value\ne = parts[5];\ne = e.split(\":\");\ne = e[1];\n\n// save e,t,d globally\nglobal.set('error',f);\nglobal.set('temp',t);\nglobal.set('flow',d);\nglobal.set('dist',ds);\nglobal.set('event',e);\n\nreturn msg;","outputs":1,"noerr":0,"x":393.4166717529297,"y":311.74994468688965,"wires":[["6154f240.3bbd9c","9d690cf.d4e19f","8a8a7af0.fbf698","e077b1e4.4b0f8","b738aaa2.0fe278","89bb10b1.29092","6913e29e.b1a70c"]]},{"id":"6154f240.3bbd9c","type":"function","z":"32eb8ead.b784aa","name":"temp","func":"var x = global.get('temp');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":688.416690826416,"y":379.4999523162842,"wires":[["592d9e70.f2ac38"]]},{"id":"9d690cf.d4e19f","type":"function","z":"32eb8ead.b784aa","name":"flow","func":"var x = global.get('flow');\n\nmsg.payload =x;\nreturn msg;","outputs":1,"noerr":0,"x":691.9167709350586,"y":448.63330364227295,"wires":[["262d9524.05fa9a"]]},{"id":"b738aaa2.0fe278","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":797.6667098999023,"y":128.88890075683594,"wires":[]},{"id":"1f048b92.407dec","type":"ui_toast","z":"8950309.ac8df5","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":297.7143096923828,"y":160.14286994934082,"wires":[["df951afe.49b258"]]},{"id":"cb4b4d7d.d37cc","type":"debug","z":"32eb8ead.b784aa","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":490.50000762939453,"y":632.5832948684692,"wires":[]},{"id":"8d73dda9.e0399","type":"function","z":"32eb8ead.b784aa","name":"split.variables2","func":"// var declanation\nvar p =global.get('proc');\nvar t =global.get('dur');\nvar d =global.get('fill');\nvar r =global.get('rotationspeed');\nvar x = msg.payload;\ny =context.get('yy') || 0;\nz =context.get('zz') || 0;\n\n//splits string \nparts = x.split(\";\");\n\n//get temperature value\np = parts[0];\np=p.split(\":\");\np=p[1];\n\n//get temperature value\nt = parts[1];\nt=t.split(\":\");\nt=t[1];\n\n// get flow rate value\nd = parts[2];\nd = d.split(\":\");\nd = d[1];\n\n// get rotation speed value\nr = parts[3];\nr = r.split(\":\");\nr = r[1];\n\n// save \"t\" and \"d\" globally\nglobal.set('proc',p);\nglobal.set('dur',t);\nglobal.set('fill',d);\nglobal.set('rotationspeed',r);\n\nreturn msg;","outputs":1,"noerr":0,"x":390.5000686645508,"y":775.3332948684692,"wires":[["750f94a9.49167c","788a114d.a62fc","e5015d25.e4bf6","cb4b4d7d.d37cc","f87f5707.08f468"]]},{"id":"750f94a9.49167c","type":"function","z":"32eb8ead.b784aa","name":"dur","func":"var x = global.get('dur');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":633.833381652832,"y":781.9999208450317,"wires":[["896c2c1a.f5e588","77a4c65a.d0efd"]]},{"id":"788a114d.a62fc","type":"function","z":"32eb8ead.b784aa","name":"fill","func":"var x = global.get('fill');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":635.5000686645508,"y":835.3332948684692,"wires":[["e8713fd8.c0964","77a4c65a.d0efd"]]},{"id":"896c2c1a.f5e588","type":"ui_text","z":"32eb8ead.b784aa","group":"30c90b9b.501374","order":2,"width":0,"height":0,"name":"","label":"Total Duration [ min ]:","format":"{{msg.payload}}","layout":"col-center","x":980.5000686645508,"y":774.499981880188,"wires":[]},{"id":"e8713fd8.c0964","type":"ui_text","z":"32eb8ead.b784aa","group":"30c90b9b.501374","order":3,"width":0,"height":0,"name":"","label":"Filling Quantity [ l ]:","format":"{{msg.payload}}","layout":"col-center","x":968.8331985473633,"y":829.4999208450317,"wires":[]},{"id":"3cc1bcaf.908a2c","type":"inject","z":"2b262bac.6b00cc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.33331298828125,"y":1281.6666259765625,"wires":[["ac46c393.8fe58"]]},{"id":"ac46c393.8fe58","type":"file in","z":"2b262bac.6b00cc","name":"","filename":"/home/pi/Desktop/temp/Data/String.txt","format":"utf8","chunk":false,"sendError":false,"x":238.77770560128351,"y":1349.1864449637278,"wires":[["c99bbb8f.e5f36"]]},{"id":"c99bbb8f.e5f36","type":"split","z":"2b262bac.6b00cc","name":"","splt":"//","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"split","x":462.281733921596,"y":1279.999952043806,"wires":[["f22e36bc.7868f","d6939078.3223"]]},{"id":"f22e36bc.7868f","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":607.585933140346,"y":1247.039632524763,"wires":[]},{"id":"d6939078.3223","type":"delay","z":"2b262bac.6b00cc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":591.3358721051898,"y":1372.3636910574778,"wires":[[]]},{"id":"e5015d25.e4bf6","type":"function","z":"32eb8ead.b784aa","name":"rotationspeed","func":"var x = global.get('rotationspeed');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":656.333381652832,"y":903.6666078567505,"wires":[["db686c1d.5f4f38","77a4c65a.d0efd"]]},{"id":"db686c1d.5f4f38","type":"ui_text","z":"32eb8ead.b784aa","group":"30c90b9b.501374","order":4,"width":0,"height":0,"name":"","label":"Rotation Speed [ U/min ]:","format":"{{msg.payload}}","layout":"col-center","x":988.833381652832,"y":906.1666078567505,"wires":[]},{"id":"5e5020d3.7d58e8","type":"file in","z":"32eb8ead.b784aa","name":"specification","filename":"/tmp/Prozessparameter.txt","format":"lines","chunk":false,"sendError":true,"x":198.16674041748047,"y":850.3333597183228,"wires":[["8d73dda9.e0399","cb4b4d7d.d37cc"]]},{"id":"2b0194b5.9bb7e4","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":113.16671371459961,"y":771.6666393280029,"wires":[["5e5020d3.7d58e8"]]},{"id":"77a4c65a.d0efd","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":893.0000076293945,"y":644.499981880188,"wires":[]},{"id":"296ccdc5.a5c4e2","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":137.00000190734863,"y":1133.6665878295898,"wires":[["4b5e9aae.39a8c4"]]},{"id":"4b5e9aae.39a8c4","type":"file in","z":"32eb8ead.b784aa","name":"read file","filename":"/tmp/error.txt","format":"utf8","chunk":false,"sendError":true,"x":290.7499942779541,"y":1057.9165878295898,"wires":[["263fea8d.84c0d6","2954b11c.aa3546"]]},{"id":"c7084b13.274ba8","type":"ui_text","z":"32eb8ead.b784aa","group":"cb2dc2a2.6afc18","order":1,"width":0,"height":0,"name":"info","label":"Connection information to SPS:","format":"{{msg.payload}}","layout":"col-center","x":631.9999942779541,"y":1204.5830307006836,"wires":[]},{"id":"263fea8d.84c0d6","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":552.0000019073486,"y":1065.9166107177734,"wires":[]},{"id":"2954b11c.aa3546","type":"switch","z":"32eb8ead.b784aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":313.66665840148926,"y":1210.3333358764648,"wires":[["c7084b13.274ba8"],["7e0374ef.a0d8fc"]]},{"id":"7e0374ef.a0d8fc","type":"change","z":"32eb8ead.b784aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Good connection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":453.66665840148926,"y":1293.8960189819336,"wires":[["c7084b13.274ba8"]]},{"id":"f87f5707.08f468","type":"function","z":"32eb8ead.b784aa","name":"processing","func":"var x = global.get('proc');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":653.0000076293945,"y":726.999981880188,"wires":[["ff211871.6ee458"]]},{"id":"ff211871.6ee458","type":"ui_text","z":"32eb8ead.b784aa","group":"30c90b9b.501374","order":1,"width":0,"height":0,"name":"","label":"Processing:","format":"{{msg.payload}}","layout":"col-center","x":949.6666946411133,"y":719.5000429153442,"wires":[]},{"id":"6c424a28.175784","type":"ui_button","z":"2b262bac.6b00cc","name":"stop button","group":"c4cbf3bf.6032c8","order":3,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sure that you want to stop the Controllino?","payloadType":"str","topic":"","x":100,"y":1534,"wires":[["bcc11282.a0342"]]},{"id":"bcc11282.a0342","type":"ui_toast","z":"2b262bac.6b00cc","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":286.99998474121094,"y":1535.5000610351562,"wires":[["1cd11860.327588"]]},{"id":"1cd11860.327588","type":"exec","z":"2b262bac.6b00cc","command":"/home/pi/Desktop/Scripts/Controllino_stop.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec stop","x":526.4166717529297,"y":1541.9000244140625,"wires":[["d5eeba8.0091548"],[],["d5c87bb7.8a1078"]],"outputLabels":["MESSAGE","",""]},{"id":"d5eeba8.0091548","type":"ui_toast","z":"2b262bac.6b00cc","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":771.4166717529297,"y":1511.4666748046875,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"d5c87bb7.8a1078","type":"debug","z":"2b262bac.6b00cc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":738.4166717529297,"y":1612.0667114257812,"wires":[]},{"id":"b44fc9c3.c425b8","type":"ui_toast","z":"8950309.ac8df5","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":317.8571548461914,"y":569.5714492797852,"wires":[["af5c9162.9882"]]},{"id":"8a8a7af0.fbf698","type":"function","z":"32eb8ead.b784aa","name":"error","func":"var x = global.get('error');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":671.0000228881836,"y":244.00000762939453,"wires":[["135a944.35e6b6c"]]},{"id":"135a944.35e6b6c","type":"ui_text","z":"32eb8ead.b784aa","group":"cb2dc2a2.6afc18","order":1,"width":0,"height":0,"name":"info","label":"SPS Fehlercode: ","format":"{{msg.payload}}","layout":"col-center","x":910.9999847412109,"y":211.99997901916504,"wires":[]},{"id":"e077b1e4.4b0f8","type":"function","z":"32eb8ead.b784aa","name":"distance","func":"var x = global.get('dist');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":693.0000076293945,"y":310.0000114440918,"wires":[["b738aaa2.0fe278","fddfc6ab.f72678"]]},{"id":"89bb10b1.29092","type":"function","z":"32eb8ead.b784aa","name":"event","func":"var x = global.get('event');\n\nmsg.payload =x;\nreturn msg;","outputs":1,"noerr":0,"x":693.0284423828125,"y":514.0113525390625,"wires":[["41659a7a.c7d614"]]},{"id":"41659a7a.c7d614","type":"ui_text","z":"32eb8ead.b784aa","group":"d4324637.9bc398","order":4,"width":0,"height":0,"name":"","label":"Current event:","format":"{{msg.payload}}","layout":"col-center","x":887.0284042358398,"y":522.7386436462402,"wires":[]},{"id":"fddfc6ab.f72678","type":"switch","z":"32eb8ead.b784aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880.3919639587402,"y":295.77273178100586,"wires":[["53934554.2c6fcc"],["dd252d3e.67072"]],"outputLabels":["0","1"]},{"id":"a45ce579.3bc788","type":"ui_text","z":"32eb8ead.b784aa","group":"d4324637.9bc398","order":3,"width":0,"height":0,"name":"","label":"Distance sensor:","format":"{{msg.payload}}","layout":"col-center","x":1191.3141860961914,"y":187.53517723083496,"wires":[]},{"id":"53934554.2c6fcc","type":"change","z":"32eb8ead.b784aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"maximum not reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1055.0284423828125,"y":260.0113744735718,"wires":[["a45ce579.3bc788"]]},{"id":"dd252d3e.67072","type":"change","z":"32eb8ead.b784aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"maximum reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1061.0284423828125,"y":314.0113830566406,"wires":[["a45ce579.3bc788"]]},{"id":"6913e29e.b1a70c","type":"file","z":"32eb8ead.b784aa","name":"","filename":"/tmp/Prozessdaten.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":413.7189178466797,"y":209.15250968933105,"wires":[["b738aaa2.0fe278"]]}]