flows_raspberrypi.json
[{"id":"8950309.ac8df5","type":"tab","label":"Control","disabled":false,"info":""},{"id":"32eb8ead.b784aa","type":"tab","label":"Data","disabled":false,"info":""},{"id":"d30569df.0070c8","type":"tab","label":"Git backup nodes","disabled":false,"info":""},{"id":"7d4144a7.f74aa4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ce0700","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#ce0700","edited":true},"page-titlebar-backgroundColor":{"value":"#ce0700","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff231b","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ce0700","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Postprocessing Dashboard in Quality Science Laboratory at TU Berlin","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fb57fe34.458988","type":"ui_tab","z":"","name":"Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c4cbf3bf.6032c8","type":"ui_group","z":"","name":"Control Buttons","tab":"5987543c.d1e64c","disp":true,"width":"6","collapse":false},{"id":"5987543c.d1e64c","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d4324637.9bc398","type":"ui_group","z":"","name":"Gauges","tab":"fb57fe34.458988","order":1,"disp":true,"width":"6","collapse":false},{"id":"868923ef.eb6e3","type":"ui_group","z":"","name":"Data stream","tab":"fb57fe34.458988","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb2dc2a2.6afc18","type":"ui_group","z":"","name":"Connection information","tab":"fb57fe34.458988","order":3,"disp":true,"width":"6","collapse":false},{"id":"5000d82f.7f3448","type":"git-nodes-config","z":"","name":"git backup nodes","git":"git@gitlab.tubit.tu-berlin.de:ban9858/Node-RED_SPS.git"},{"id":"fa94d8b9.dac9d","type":"ui_button","z":"8950309.ac8df5","name":"git button","group":"c4cbf3bf.6032c8","order":1,"width":0,"height":0,"passthru":false,"label":"Update Controllino Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":193.1499786376953,"y":88.16670227050781,"wires":[["df951afe.49b258"]]},{"id":"460b2cec.bd5034","type":"ui_button","z":"8950309.ac8df5","name":"stop button","group":"c4cbf3bf.6032c8","order":3,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sure that you want to stop the Controllino?","payloadType":"str","topic":"","x":186.1499786376953,"y":261.1666564941406,"wires":[["5b70c43c.0d6964"]]},{"id":"df951afe.49b258","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/update_controllino_scipt.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec update","x":472.14996337890625,"y":83.80000305175781,"wires":[["667de301.65c0d4"],[],["cc5ade2.04050a"]],"outputLabels":["MESSAGE","",""]},{"id":"667de301.65c0d4","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":708.1499633789062,"y":71.36665344238281,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"cc5ade2.04050a","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":611.1499786376953,"y":166.96670532226562,"wires":[]},{"id":"96d5e66b.c9b0b8","type":"ui_button","z":"8950309.ac8df5","name":"git scipt button","group":"c4cbf3bf.6032c8","order":2,"width":0,"height":0,"passthru":false,"label":"Update Scipts on Raspberry Pi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":193.56666564941406,"y":482.76666259765625,"wires":[["af5c9162.9882"]]},{"id":"af5c9162.9882","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/update_pi_scipts.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec scipts update","x":482.566650390625,"y":478.39996337890625,"wires":[["34df920.86973ee"],[],["a417619c.8c0c78"]],"outputLabels":["MESSAGE","",""]},{"id":"34df920.86973ee","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":789.5666656494141,"y":443.9666290283203,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"a417619c.8c0c78","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":775.5666656494141,"y":535.5666656494141,"wires":[]},{"id":"5b70c43c.0d6964","type":"ui_toast","z":"8950309.ac8df5","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":373.14996337890625,"y":262.6667175292969,"wires":[["194a647d.bcd0f4"]]},{"id":"194a647d.bcd0f4","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/Controllino_stop.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec stop","x":612.566650390625,"y":269.0666809082031,"wires":[["12ba054a.d52e6b"],[],["bb4fa3cf.4ca548"]],"outputLabels":["MESSAGE","",""]},{"id":"12ba054a.d52e6b","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":857.566650390625,"y":238.63333129882812,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"bb4fa3cf.4ca548","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":824.566650390625,"y":339.2333679199219,"wires":[]},{"id":"8cd515ff.d5e9c8","type":"git-nodes","z":"d30569df.0070c8","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"5000d82f.7f3448","x":244.1499786376953,"y":151.56666564941406,"wires":[]},{"id":"592d9e70.f2ac38","type":"ui_gauge","z":"32eb8ead.b784aa","name":"temp gauge","group":"d4324637.9bc398","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":742.566650390625,"y":137.56666564941406,"wires":[]},{"id":"262d9524.05fa9a","type":"ui_gauge","z":"32eb8ead.b784aa","name":"flow gauge","group":"d4324637.9bc398","order":1,"width":0,"height":0,"gtype":"gage","title":"Flow rate","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":745.566650390625,"y":197.56666564941406,"wires":[]}]