flows_raspberrypi.json
[{"id":"8950309.ac8df5","type":"tab","label":"Control","disabled":false,"info":""},{"id":"32eb8ead.b784aa","type":"tab","label":"Data","disabled":false,"info":""},{"id":"d30569df.0070c8","type":"tab","label":"Git backup nodes","disabled":false,"info":""},{"id":"7d4144a7.f74aa4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ce0700","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#ce0700","edited":true},"page-titlebar-backgroundColor":{"value":"#ce0700","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff231b","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ce0700","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Postprocessing Dashboard in Quality Science Laboratory at TU Berlin","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fb57fe34.458988","type":"ui_tab","z":"","name":"Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c4cbf3bf.6032c8","type":"ui_group","z":"","name":"Control Buttons","tab":"5987543c.d1e64c","disp":true,"width":"6","collapse":false},{"id":"5987543c.d1e64c","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d4324637.9bc398","type":"ui_group","z":"","name":"Current sensor values","tab":"fb57fe34.458988","order":1,"disp":true,"width":"6","collapse":false},{"id":"868923ef.eb6e3","type":"ui_group","z":"","name":"Data stream","tab":"fb57fe34.458988","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb2dc2a2.6afc18","type":"ui_group","z":"","name":"Connection information","tab":"fb57fe34.458988","order":3,"disp":true,"width":"6","collapse":false},{"id":"5000d82f.7f3448","type":"git-nodes-config","z":"","name":"git backup nodes","git":"git@gitlab.tubit.tu-berlin.de:ban9858/Node-RED_SPS.git"},{"id":"e4363a5b.562d08","type":"ui_spacer","name":"spacer","group":"d4324637.9bc398","order":1,"width":1,"height":1},{"id":"376ff55.593d90a","type":"ui_spacer","name":"spacer","group":"d4324637.9bc398","order":1,"width":1,"height":1},{"id":"e89b5815.6293e","type":"ui_spacer","name":"spacer","group":"d4324637.9bc398","order":1,"width":1,"height":1},{"id":"fa94d8b9.dac9d","type":"ui_button","z":"8950309.ac8df5","name":"git button","group":"c4cbf3bf.6032c8","order":1,"width":0,"height":0,"passthru":false,"label":"Update Controllino Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":193.1499786376953,"y":88.16670227050781,"wires":[["df951afe.49b258"]]},{"id":"460b2cec.bd5034","type":"ui_button","z":"8950309.ac8df5","name":"stop button","group":"c4cbf3bf.6032c8","order":3,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sure that you want to stop the Controllino?","payloadType":"str","topic":"","x":186.1499786376953,"y":261.1666564941406,"wires":[["5b70c43c.0d6964"]]},{"id":"df951afe.49b258","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/update_controllino_scipt.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec update","x":472.14996337890625,"y":83.80000305175781,"wires":[["667de301.65c0d4"],[],["cc5ade2.04050a"]],"outputLabels":["MESSAGE","",""]},{"id":"667de301.65c0d4","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":708.1499633789062,"y":71.36665344238281,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"cc5ade2.04050a","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":611.1499786376953,"y":166.96670532226562,"wires":[]},{"id":"96d5e66b.c9b0b8","type":"ui_button","z":"8950309.ac8df5","name":"git scipt button","group":"c4cbf3bf.6032c8","order":2,"width":0,"height":0,"passthru":false,"label":"Update Scipts on Raspberry Pi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":193.56666564941406,"y":482.76666259765625,"wires":[["af5c9162.9882"]]},{"id":"af5c9162.9882","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/update_pi_scipts.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec scipts update","x":482.566650390625,"y":478.39996337890625,"wires":[["34df920.86973ee"],[],["a417619c.8c0c78"]],"outputLabels":["MESSAGE","",""]},{"id":"34df920.86973ee","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":789.5666656494141,"y":443.9666290283203,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"a417619c.8c0c78","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":775.5666656494141,"y":535.5666656494141,"wires":[]},{"id":"5b70c43c.0d6964","type":"ui_toast","z":"8950309.ac8df5","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":373.14996337890625,"y":262.6667175292969,"wires":[["194a647d.bcd0f4"]]},{"id":"194a647d.bcd0f4","type":"exec","z":"8950309.ac8df5","command":"/home/pi/Desktop/Scripts/Controllino_stop.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git exec stop","x":612.566650390625,"y":269.0666809082031,"wires":[["12ba054a.d52e6b"],[],["bb4fa3cf.4ca548"]],"outputLabels":["MESSAGE","",""]},{"id":"12ba054a.d52e6b","type":"ui_toast","z":"8950309.ac8df5","position":"top right","displayTime":"9","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":857.566650390625,"y":238.63333129882812,"wires":[],"inputLabels":["MESSAGE"],"icon":"node-red/inject.png"},{"id":"bb4fa3cf.4ca548","type":"debug","z":"8950309.ac8df5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":824.566650390625,"y":339.2333679199219,"wires":[]},{"id":"8cd515ff.d5e9c8","type":"git-nodes","z":"d30569df.0070c8","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"5000d82f.7f3448","x":244.1499786376953,"y":151.56666564941406,"wires":[]},{"id":"592d9e70.f2ac38","type":"ui_gauge","z":"32eb8ead.b784aa","name":"temp gauge","group":"d4324637.9bc398","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"50","x":428.81671142578125,"y":516.316650390625,"wires":[]},{"id":"262d9524.05fa9a","type":"ui_gauge","z":"32eb8ead.b784aa","name":"flow gauge","group":"d4324637.9bc398","order":1,"width":0,"height":0,"gtype":"gage","title":"Flow rate","label":"m³/s","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":433.06658935546875,"y":574.8166656494141,"wires":[]},{"id":"d4a9a670.e3a29","type":"inject","z":"32eb8ead.b784aa","name":"msg.error","topic":"Connection","payload":"No connection!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":113.00000762939453,"wires":[["86cea8c1.54bef"]]},{"id":"6940b9c4.50d5a","type":"file in","z":"32eb8ead.b784aa","name":"/home/pi/Desktop/temp","filename":"/home/pi/Desktop/temp","format":"lines","chunk":false,"sendError":false,"x":158.40003967285156,"y":417.20001220703125,"wires":[["bf2df8d9.c8c54"]],"inputLabels":["msp.in"],"outputLabels":["msg.out"]},{"id":"86cea8c1.54bef","type":"file","z":"32eb8ead.b784aa","name":"","filename":"/home/pi/Desktop/temp/error.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":354.6666564941406,"y":162.18331909179688,"wires":[["e03e8518.3c3ad"]]},{"id":"b3d4cb76.fc3ed8","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":78.88333129882812,"y":277.48333740234375,"wires":[["c3de97a3.840ec"]]},{"id":"c3de97a3.840ec","type":"file","z":"32eb8ead.b784aa","name":"","filename":"/home/pi/Desktop/temp/error.log","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":378.1499938964844,"y":284.1666717529297,"wires":[["fdaf30cc.4fdd6"]]},{"id":"8c5a472a.616648","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":567.9166870117188,"y":622.9333190917969,"wires":[]},{"id":"e03e8518.3c3ad","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":514.4166564941406,"y":231.18333435058594,"wires":[]},{"id":"fdaf30cc.4fdd6","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":551.4166564941406,"y":330.1833190917969,"wires":[]},{"id":"bf2df8d9.c8c54","type":"json","z":"32eb8ead.b784aa","name":"","property":"payload","action":"obj","pretty":false,"x":359.2708206176758,"y":417.95833587646484,"wires":[["a3432a5f.5d8d08"]]},{"id":"a3432a5f.5d8d08","type":"function","z":"32eb8ead.b784aa","name":"functions in Node Red","func":"//context.set('YourVariable') = X; // to store\n//var x = context.get('YourVariable'); to retrieve\nreturn msg;","outputs":1,"noerr":0,"x":541.7708129882812,"y":413.2916564941406,"wires":[[]]},{"id":"4b6b62e3.278424","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166.7708282470703,"y":513.7500305175781,"wires":[["592d9e70.f2ac38"]]},{"id":"be0f6040.96945","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":179.27085876464844,"y":588.75,"wires":[["262d9524.05fa9a"]]},{"id":"be1b26e6.4c435","type":"inject","z":"32eb8ead.b784aa","name":"","topic":"","payload":"message","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":145.5208396911621,"y":739.4583511352539,"wires":[["6b94f106.648c3"]]},{"id":"6b94f106.648c3","type":"function","z":"32eb8ead.b784aa","name":"counter","func":"var count=context.get('counter') || 0; //create \"counter\"\ncount +=1;\nmsg.payload= count;\ncontext.set('counter',count);\nmsg.count = context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"x":355.5208206176758,"y":740.2499771118164,"wires":[["d90925a.84e4058","e3f2ec83.571658","e42e9b08.ae0ec8"]]},{"id":"e3f2ec83.571658","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540.5208129882812,"y":689.6040649414062,"wires":[]},{"id":"d90925a.84e4058","type":"debug","z":"32eb8ead.b784aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":548.0208206176758,"y":805.8541488647461,"wires":[]},{"id":"e42e9b08.ae0ec8","type":"ui_text","z":"32eb8ead.b784aa","group":"868923ef.eb6e3","order":2,"width":0,"height":0,"name":"","label":"Message ","format":"{{msg.payload}}","layout":"row-spread","x":724.2708206176758,"y":726.3750076293945,"wires":[]},{"id":"45a9895d.e63558","type":"switch","z":"32eb8ead.b784aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":624.2708206176758,"y":973.4583282470703,"wires":[["a5ce923.77015f"]],"outputLabels":["No connection"]},{"id":"a5ce923.77015f","type":"ui_text","z":"32eb8ead.b784aa","group":"cb2dc2a2.6afc18","order":0,"width":0,"height":0,"name":"","label":"No connection!","format":"{{msg.payload}}","layout":"row-spread","x":918.0208129882812,"y":920.125,"wires":[]},{"id":"743eccfb.5e639c","type":"ui_text","z":"32eb8ead.b784aa","group":"cb2dc2a2.6afc18","order":1,"width":0,"height":0,"name":"","label":"Good connection","format":"{{msg.payload}}","layout":"row-spread","x":939.2708206176758,"y":1000.1250076293945,"wires":[]},{"id":"86e01f71.71dce","type":"file in","z":"32eb8ead.b784aa","name":"","filename":"/home/pi/Desktop/temp/error.log","format":"lines","chunk":false,"sendError":false,"x":370.5208435058594,"y":988.458251953125,"wires":[["45a9895d.e63558"]]},{"id":"b8344db.c2597b","type":"watch","z":"32eb8ead.b784aa","name":"","files":"/home/pi/Desktop/temp/error.log","recursive":"","x":139.2708282470703,"y":1059.4791870117188,"wires":[["86e01f71.71dce"]]}]